body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Roboto, sans-serif;
    margin: 0;
}

.sticky, .splash, footer {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    z-index: 1000;
    justify-content: space-between;
    padding: 10px 10%;
    gap: 20px;
}

.logo {
    margin: 0;
    font-size: 24px;
    font-weight: 800;
    color: #f9faf8;
}

.navlinks {
    display: flex;
    list-style-type: none;
    gap: 40px;
    padding: 0;
    margin: auto 0;
}

.second {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.splash {
    padding: 150px 10%;
    gap: 2%;
    height: 60vh;
}

.intro {
    width: 49%;
}

.main {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0;
}

img {
    width: 100%;
}

main {
    flex: auto;
    padding: 30px 0;
}

.types {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10% 100px;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin-top: 0;
    margin-bottom: 20px;
}

.info {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.infotype {
    width: 27%;
    padding: 10px;
    text-align: center;
}

.infotype > img {
    border: 5px solid #3882f6;
    border-radius: 20px;
    width: 95%;
}

.quote {
    margin: 4px;
    font-size: 18px;
    color: #1f2937;
    border: 3px solid black;
    border-top: none;
    padding: 5px;
}

.quote > a {
    font-weight: bold;
    color: #1f2937;
}

.functions {
    background-color: #e5e7eb;
    padding: 50px 10%;
}

.italic {
    font-style: italic;
    font-weight: lighter;
    font-size: 16px;
    color: #1f2937;
    margin: 0;
}

.italic section {
    width: 100%;
}

.italic > li {
    display: flex;
    margin-bottom: 40px;
    gap: 40px;
}

.italic img {
    margin-left: auto;
    object-fit: contain;
}

.italic ul > p {
    margin-top: 5px;
    font-style: normal;
}

.research {
    padding: 50px 10%;
}

.research li {
    margin-bottom: 10px;
    list-style-type: none;
}

footer {
    text-align: center;
}

.research .italic {
    text-align: center;
}

#endnote {
    background-color: #3882f6;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #f9faf8;
    padding: 20px;
}