body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Roboto, sans-serif;
    margin: 0;
}

.header, footer {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    z-index: 1000;
    justify-content: space-between;
    padding: 10px 10%;
    gap: 20px;
}

.logo {
    margin: 0;
    font-size: 24px;
    font-weight: 800;
    color: #f9faf8;
}

.navlinks {
    display: flex;
    list-style-type: none;
    gap: 40px;
    padding: 0;
    margin: auto 0;
}

.second {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.splash {
    padding: 59px 10% 0 10%;
    gap: 2%;
}

.intro {
    width: 49%;
}

.main {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0;
}

img {
    width: 100%;
}

main {
    flex: auto;
    padding: 0 10%;
}

.types {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin: 20px;
}

.info {
    display: flex;
    justify-content: center;
}